<% (I18n.locale.to_s == 'no')?"Prosjekter":"Projects" %>

<p>
  <h4><%= (I18n.locale.to_s == 'no')?"#{@project.title_no}":"#{@project.title_en}" %></h4>
</p>
<p>
  <%= (I18n.locale.to_s == 'no')?"#{@project.description_no}":"#{@project.description_en}" %>
</p>
<p>
  <%= @project.url %>
</p>
<p>
<% if current_user %>
  <%= link_to "Edit", edit_project_path(@project) %>
  <%= link_to "Destroy", @project, :confirm => 'Are you sure?', :method => :delete %>
<%end%>
  <%= link_to "View All", projects_path %>
</p>
